<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#0f0f0f"
      },
      "button": {
        "background": "#ff493b"
      }
    },
    "theme": "classic",
    "content": {
      "message": "Diese Website nutzt Cookies um Ihnen die beste Nutzerfahrung zu garantieren.",
      "allow": "Weiter mit Cookies",
      "link": "Mehr erfahren",
      "dismiss": "Weiter mit Cookies"
    }
    });
    </script>

  </body>

</html>
